<div class="row text-center">
    <div class="col card bg-light text-center">
        <a asp-controller="Apple" asp-action="Iphone">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/i/p/iphone-14-pro-256gb.png" width="200" height="250" />
        </a>
        <h3>iPhone</h3>
    </div>
    <div class="col card bg-light text-center">
        <a asp-controller="Apple" asp-action="Ipad">
            <img src="https://cdn.alloallo.media/catalog/product/apple/ipad/ipad-air-4/ipad-air-4th-generation-space-gray.jpg" width="200" height="250" />
        </a>
        <h3>Ipad</h3>
    </div>
    <div class="col card bg-light text-center">
        <a asp-controller="Apple" asp-action="Macbook">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6clANScOJQA8Phm4sE8nAYwJrnw1pf_kkJA&s" width="200" height="250" />
        </a>
        <h3>Macbook</h3>
    </div>
</div>

