@model IEnumerable<Lesson05.Models.Product>

<div class="card-group">
    <h1>Product List</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form method="post" asp-controller="Products" asp-action="SearchProduct">
                    <div class="form-group">
                        <input class="form-control" name="keyword" type="search" placeholder="Enter keyword to search" required />
                    </div>
                </form>
            </div>
            <div class="col">
                <a class="btn btn-primary" asp-controller="Products" asp-action="SortByPriceAsc">Sort By Price Ascending</a>
                <a class="btn btn-danger" asp-controller="Products" asp-action="SortByPriceDesc">Sort By Price Descending</a>
            </div>
        </div>    
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mt-3">
                <div class="card text-center">
                    <div class="card-body">
                        <img src="@item.Image" width="150" height="200" />
                        <h3 class="card-title text-uppercase text-primary">@item.Name</h3>
                        <p class="card-text text-danger bg-warning font-weight-bold">$ @item.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>