<!-- Views/Home/Index.cshtml -->

<div class="text-center">
  <h1 class="mau-do in-nghieng gach-chan">Application Development</h1>
    <img src="https://greenwich.edu.vn/wp-content/uploads/2023/03/336908731_745479637072111_581637385073228602_n-1024x1024.webp" width="50%" height="50%" />

    <iframe width="560" height="315" src="https://www.youtube.com/embed/zNfT7pnZdss?si=FIqfqawWxV6fNCNS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Anna</td>
            <td>Writer</td>
            <td>example@fpt.edu.vn</td>
        </tr>
        <tr>
            <td>Anna</td>
            <td>Writer</td>
            <td>example@fpt.edu.vn</td>
        </tr>
    </table>
</div>
